*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body, #root {
  height: 100%;
  width: 100%;
  overflow: hidden;
}

body {
  font-family: 'Outfit', sans-serif;
  background: #faf8f5;
  color: #2e2828;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
